:root {
    --main-color: #61ACF0;
    --main-color-light: #6EB2F2;
    --main-color-dark: #3B97ED;
    --main-color-hover: rgb(104, 117, 217, 0.2);
    --track-color: #4b4b4b;
    --lighten: #ffffff10;
}

.ingredientTitle {
    margin: 4px 4px 0px 4px;
    
}

.ingredientContainer {
    margin-bottom: 6pt;
    padding: 2pt;
}